//------------------------------------------------------------------------------
// COLORS

$white: #FFF;
$black: #000;

$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #868E96;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

$primary: #5652cb;
$secondary: #27207f;

//------------------------------------------------------------------------------
// UTILITIES

$escaped-characters: (
  ("<","%3c"),
  (">","%3e"),
  ("#","%23"),
);
